@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    width: 300px;
    background-color: #111;
    color: #fff;
    padding: 20px;
    font-family: "Golos Text", sans-serif;
}
h1 {
    margin-bottom: 20px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 8px;
    text-decoration: none;
    color: #111;
    background-color: #fff;
    max-width: 140px;
}
.btn:hover {
    background-color: #bcd1ea;
}